<footer class="ftco-footer ftco-section py-0">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About</h2>
          <p>
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
            there live the blind texts.
          </p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li
              class=""
              *ngFor="let item of socialmedia; let i = index"
              data-aos="fade-up"
              [attr.data-aos-delay]="(i + 1) * 100"
            >
              <a href="{{ item.link }}"><i class="{{ item.icon }}"></i>
                <span class="visually-hidden">{{ item.title }}</span>

              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
            <li
              *ngFor="let link of links; let i = index"
              data-aos="fade-up"
              [attr.data-aos-delay]="(i + 1) * 100"
            >
              <a
                href="{{ link.link }}"
                (click)="scrollTo('{{link.title}}')"
                [class.active]="currentSection === '{{link.title}}'"
                ><i class="fa-solid fa-arrow-right"></i>{{ link.title }}
                </a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Services</h2>
          <ul class="list-unstyled">
            <li
              *ngFor="let service of Services; let i = index"
              data-aos="fade-up"
              [attr.data-aos-delay]="(i + 1) * 100"
            >
              <a href="#"><i class="fa-solid fa-arrow-right"></i>{{ service }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span
                ><span class="text">Mit-Ghamer Dakahlia Governorate Egypt</span>
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-phone"></span><span class="text">+2001202266876</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-envelope"></span
                  ><span class="text">ahmedmagdyabdalhady@gmail.com</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with
          <i class="icon-heart color-danger" aria-hidden="true"></i> by Ahmed Magdy
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
