   .styled-text {
       color: aquamarine;
       display: inline-block;
   }

   .styled-text::first-letter {
       color: #2196f3 !important;

   }
.hight-control {
           height: 100vh ;
       }
   @media (max-width: 767.98px) {
       .hight-control {
           height: auto ;
       }
   }