<div
  class="hight-control row justify-content-center flex-column-reverse flex-lg-row align-content-center align-items-center text-white"
>
  <div class="col-12 col-lg-5 row justify-content-center align-content-center align-items-center">
    <div class="col-12">
      <h1 class="text-center">
        <span class="firstLetter-orange me-1 " editable="firstName"  position="right">{{ Service.userInfo.firstName }}</span>
        <span class="firstLetter-orange" editable="lastName" position="right">{{ Service.userInfo.lastName }}</span>

        <!-- <span class="text-orange">A</span>hmed <span class="text-orange">M</span>agdy -->
      </h1>
      <app-auto-type></app-auto-type>
      <p class="text-center">
        <a  class="btn btn-primary py-3 px-5 me-3 " (click)="scrollTo('contact')">Hire me</a>
        <a  class="btn btn-outline-light py-3 px-5 border border-white" (click)="scrollTo('projects')">My works</a>
      </p>
    </div>
  </div>
  <div class="col-12 col-lg-7">
    <spline-viewer
        url="https://prod.spline.design/ZbueZ7VXKhM4ktsd/scene.splinecode"
      ></spline-viewer>
    <!-- <spline-viewer url="https://prod.spline.design/3m3epmZ9SmHtDunj/scene.splinecode"></spline-viewer> -->
  </div>
</div>
