   .styled-text {
       color: aquamarine;
       display: inline-block;
   }

   .styled-text::first-letter {
       color: #2196f3 !important;

   }
.hight-control {
           min-height: 100vh ;
       }
   /* @media (max-width: 767.98px) {
       .hight-control {
            min-height: auto ;
       }
   } */
  .fixed-letter {
  
  color: #ffbd39;
}