

<!-- خلفية المودال -->

<div class="modal-backdrop fade show" *ngIf="isModalOpen" (click)="closeModal()"></div>

<!-- المودال -->
<div
  class="modal fade"
  [class.show]="isModalOpen"
  [style.display]="isModalOpen ? 'block' : 'none'"
  tabindex="-1"
  (keydown)="onKeydown($event)"
  (click)="closeModal()"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <!-- Header -->
      <div class="modal-header">
        <h3 class="modal-title text-dark">Edit {{ editData.title }}</h3>
        <button class="btn-close" (click)="closeModal()"><span class="visually-hidden">close</span></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <!-- ⭐ حالة BIO -->
        <div *ngIf="editData.fieldKey === 'bio'">
          <app-bio-model [bio]="bioData" (bioChange)="onBioDataChange($event)"></app-bio-model>
        </div>
        <section *ngIf="editData.fieldKey.includes('image') || editData.fieldKey.includes('product')">
          <app-image-model [imageData]="editData.value"></app-image-model>
        </section>
        <!-- ⭐ باقي الحقول -->
        <div *ngIf="editData.fieldKey !== 'bio' &&  !editData.fieldKey.includes('image') && !editData.fieldKey.includes('product')">
          <label for="content-text"></label>
          <textarea id="content-text" class="form-control" rows="4" [(ngModel)]="editData.value"></textarea>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button class="btn btn-primary" (click)="saveChanges()">Save</button>
      </div>
    </div>
  </div>
</div>
