    /* Progress Bars */
.progress-wrap {
    width: 100%;
    margin-bottom: 30px;
}

.progress-wrap h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
} 

.progress-bar {
    height: 15px;
    background: #ffbd39;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
    font-weight: 600;
    position: relative;
    overflow: visible;
    border-radius: 2px;
}
/* Progress Bars */
.progress-wrap {
    width: 100%;
    margin-bottom: 30px;
}

.progress-wrap h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.progress {
    height: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #1a1a1a;
    overflow: visible;
    border-radius: 2px;
}