
    <div class="row">
        <div class="col-12" data-aos="fade-right" data-aos-delay="100">
      <div data-aos="fade-up" class="heading-section text-center">
        <h1 class="big end-0">service</h1>
        <h2><span class="text-orange">O</span>ur <span class="text-orange">S</span>ervices</h2>
        <p>Discover the range of services we offer to help you achieve your goals.</p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center d-flex " *ngFor="let service of services ; let i = index" data-aos="fade-up" [attr.data-aos-delay]="(i + 1) * 100">
        <a id="{{i}}" href="{{ service.link }}" class="services-1 ">
          <span class="icon d-block mb-3">
            <i class="{{service.icon}} fs-1"></i>
          </span>
          <div class="desc mb-5 ">
            <h3 class="mb-5">{{ service.title }}</h3>
          </div>
        </a>
      </div>
    </div>

