.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  transition: background-color 0.5s ease;
}


.Mainsection{
  padding-top: 50px;
}

@media (max-width: 767.98px) {
  .Mainsection{
    padding-top: 25px ;
  }
}